<form #form="ngForm">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" [(ngModel)]="name" #nameVerify="ngModel" required>
    <span *ngIf="nameVerify.invalid">Name is required</span>
  </div>

  <br>

  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" [(ngModel)]="email" #emailVerify="ngModel" email>
    <span *ngIf="emailVerify.invalid">Email is invalid</span>
  </div>

  <button type="submit" [disabled]="!form.valid">Submit</button>

</form>

